* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* <!--   ***************************HERO SECTION ************************************************* --> */
.hero_section {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
    background-position: center;
    min-height: 65vh;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}

.navbar a {
    text-decoration: none;
    color: white;

}

.navbar .get_app {
    font-size: 15px;
    font-weight: 200;
}

.navbar .menu_container {
    display: flex;
    font-weight: 200;
    font-size: 18px;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}

#zomato_logo_image {
    height: 90px;
    width: 250px;
}

.hero_container h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.hero_container_input {
    background: white;
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.location_input,
.search_restaurant {
    border: none;
    outline: none;
    padding: 5px;
}

.location_input {
    width: 35%;
}

.search_restaurant {
    width: 65%;
    border-left: 2px solid #e0e0e0;
}

/* this part is for the user icon which will be visible when the screen is shrinked to mobile size */
.navbar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    display: none;
}

/* changes when screen becomes small */
@media only screen and (max-width:600px) {
    .navbar .icon {
        display: flex;
    }

    /* all the links in navbar disappear due to lack of space */
    .navbar .link {
        display: none;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section {
        height: 85vh;
    }

    /* the format of input container changes they become vertically aligned */
    .hero_container_input {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .location_input,
    .search_restaurant {
        width: 80%;
        border-radius: 5px;
        padding: 15px;
    }
}

/* **************************************container_we_offer****************************** */
.container_we_offer {
    width: 80%;
    display: flex;
    margin: 48px auto;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* background-color:blanchedalmond; */

}

.container_we_offer .card {
    border-radius: 8px;
    border: 2px solid #e0e0e0;
    overflow: hidden;
    /* the image is going out of border so to keep that part hidden we use it */
    transition: all 0.3s ease;
    cursor: pointer;
}

.container_we_offer .card:hover {
    transform: scale(1.05);
}

.container_we_offer .card img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    /* used so that image does not smudge */
    object-position: center;
}

.container_we_offer .card h1 {
    font-weight: 400;
    font-size: 20px;
    padding: 0px 0px 0px 15px;
}

.container_we_offer .card p {
    font-size: 15px;
    padding: 0px 0px 15px 15px;
    font-weight: 200;
}

/*  ******************************* collection_container  ********** */

.collection_container {
    width: 80%;
    margin: 48px auto;
    flex-wrap: wrap;
    /* background-color: bisque; */
}

.collection_container h1 {
    font-weight: 600;
    margin: 0 50px;
}

.collection_container .subheadings {
    width: 87%;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1 rem;
    /* margin-left: 30px; */
    margin: 0 50px;
}

.collection_container .subheadings span:nth-child(2) {
    font-size: 13px;
    color: darkorange;
}

.collections_card {
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
    position: relative;
    flex-direction: row;
    /* display: inline; */
}

.collection_container .card {

    height: 300px;
    width: 240px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    /* display: inline; */
}

.card1 {
    background: url("./images/taj.jpg");
    /* height: 300px;
    width: 200px; 
    object-fit: cover;  */

}

.card2 {
    background: url("./images/dining.jpg");
    /* height: 300px;
    width: 200px;    */
}

.card3 {
    background: url("./images/mughlai.jpg");
    /* height: 300px;
    width: 200px;  */
}

.card4 {
    background: url("./images/breakfast.jpg");
    /* height: 300px;
    width: 200px;  */
}

.overlay {
    display: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.05) 50%,
            rgba(0, 0, 0, 0.05) 85%);
}

.collections_card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    color: white;
}

/*    ************************ get_the_app  ****************************** */
.get_the_app {
    display: flex;
    background-color: rgb(239, 239, 236);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_app .subcontainer {
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 24px;
    /* background-color: aqua; */
}

.get_the_app .left_container {
    /* background-color: rgb(252, 183, 242); */
    flex: 2;
}

.get_the_app .left_container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app .right_container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* background-color: rgb(232, 209, 131); */
}

.get_the_app .right_container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.get_the_app .right_container p {
    font-weight: 300;
    font-size: 16px;
}

.get_the_app .radio_buttons {
    display: flex;
    font-size: 17px;
    font-weight: 300;
    gap: 3rem;
}

.get_the_app .radio_buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.get_the_app .radio_buttons input{
height: 20px;
width: 20px;
accent-color: rgb(236, 106, 40);
}

.get_the_app .right_container .input_container {
    /* background-color: rgb(239, 124, 231); */
   display: flex;
   gap: 10px;
   /* justify-content: space-between; */
}

.get_the_app .input_container input,button {
    padding: 14px 12px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid rgb(132, 129, 129);
}

.get_the_app .input_container input{
    flex:4;
}

.get_the_app .input_container button{
    flex:2;
    background-color: orangered;
    color: white;
}

.get_the_app .right_container .download{
    color: rgb(110, 110, 108);
}

.get_the_app .right_container .label_container img{
width: 35%;
}

@media only screen and (max-width:1300px){
    .get_the_app .left_container,
    .get_the_app .right_container{
        flex:1;
    }
    .get_the_app .subcontainer{
        width: 80%;
    }
} 

@media only screen and (max-width:1050px) {
    .get_the_app{
        padding: 32px;
    }
    .get_the_app .subcontainer{
        width: 90%;
        flex-direction: column;
    }

}
